<div class="modal-container" [ngClass]="{hidden: isModalHidden}">
    <div class="modal">
        <div class="modal-header">
            <span class="subtitle">Agregar equipo</span> <i class="fas fa-times" (click)="hideModal()"></i>
        </div>
        <div class="modal-body f-colum">
            <form class="f-colum jc-center ai-center" [formGroup]="teamForm" novalidate>
                <div class="form-group">
                    <label class="label">Nombre:</label>
                    <input type="text" class="input" placeholder="Ejm: Atlético chicolac" formControlName="name" [(ngModel)]="team.name">
                </div>
            </form>
        </div>
        <div class="modal-body">
            <div class="label-option">Selecciona un campeonato:</div>
            <ul class="modal-list f-row jc-evenly ai-center">
                <li class="item aux" *ngFor="let champ of this.league.championships, index as i" (click)="changeSelected(i)">{{champ.name}} <i class="fas fa-check"></i></li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" [disabled]='teamForm.invalid' class="btn secondary-button" (click)="save()">Guardar</button>
        </div>
    </div>
</div>