<div class="main-container f-colum ai-center">
    <div class="items-section f-colum">
        <div class="title animated fadeInLeft">CAMPEONATOS</div>
        <div class="items-container f-row jc-evenly">
            <div class="championship-list container f-colum ai-center animated fadeIn delay-1s">
                <div class="championship-container f-colum jc-center ai-center" *ngFor="let championship of this.league.championships, index as i">
                    <div class="name f-row jc-evenly ai-center">
                        <span class="subtitle">{{championship.name}}</span>
                        <div class="cont f-row jc-end">
                            <button class="add-btn" data-tip='Agregar Partido' (click)="addMatch(i)"> <i class="far fa-futbol"></i></button>
                            <button class="add-btn" (click)="addPlayer(i)" data-tip='Agregar Jugador'> <i class="fas fa-user-plus"></i> </button>
                            <button class="add-btn" data-tip='Ver información' (click)="changeStadistics(i)"> <i class="fas fa-poll"></i></button>
                        </div>
                    </div>
                    <div class="teams-container f-row">
                        <div class="team-container names f-colum">
                            <div class="team-title">
                                Equipos
                            </div>
                            <ul class="list f-colum jc-center ai-center line">
                                <li *ngFor="let team of championship.teams, index as i" (click)="displayInfo(team)">
                                    {{i+1}}.- {{team.name}} <i class="far fa-eye"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="team-container matches f-colum">
                            <div class="team-title">
                                Partidos
                            </div>
                            <ul class="list f-colum jc-center ai-center">
                                <li class="text" *ngFor="let match of championship.matches" (click)="displayInfoMatch(match)">
                                    {{match.team1.name}} ({{match.score1}}) - ({{match.score2}}) {{match.team2.name}} <i class="far fa-eye"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="championship-container f-colum jc-center ai-center">
                    <div class="name f-row jc-evenly ai-center">
                        <span class="subtitle">{{test.championship.name}}</span>
                        <div class="cont f-row jc-end">
                            <button class="add-btn" data-tip='Ver información' (click)="changeStadistics2()"> <i class="fas fa-poll"></i></button>
                        </div>
                    </div>
                    <div class="teams-container f-row">
                        <div class="team-container names f-colum">
                            <div class="team-title">
                                Equipos
                            </div>
                            <ul class="list f-colum jc-center ai-center line">
                                <li class="f-row ai-center" *ngFor="let team of test.championship.teams,index as i" (click)="displayInfo(team)">
                                    {{i+1}}.- {{team.name}} <i class="far fa-eye"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="team-container matches f-colum">
                            <div class="team-title">
                                Partidos
                            </div>
                            <ul class="list f-colum jc-center ai-center" *ngFor="let match of test.championship.matches">
                                <li class="text" (click)="displayInfoMatch(match)">
                                    {{match.team1.name}} ({{match.score1}}) - ({{match.score2}}) {{match.team2.name}} <i class="far fa-eye"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="flash" class="stadistics container animated fadeIn delay-1s">
                <div class="subtitle">INFORMACIÓN <i class="fas fa-poll"></i> </div>
                <hr>
                <div class="stadistics f-colum ai-center">
                    <div class="first first-bkg f-colum jc-center ai-center animated fadeIn delay-1s">
                        <img src="../../../assets/images/first.svg" alt="">
                        <span *ngIf="prize.first!=null">{{prize.first[0].name}}</span>
                    </div>
                    <div class="position-container f-row jc-evenly">
                        <div class="second second-bkg f-colum jc-center ai-center animated fadeIn delay-2s">
                            <img src="../../../assets/images/second.svg" alt="">
                            <span *ngIf="prize.second!=null">{{prize.second[0].name}}</span>
                        </div>
                        <div class="third third-bkg f-colum jc-center ai-center animated fadeIn delay-2s">
                            <img src="../../../assets/images/third.svg" alt="">
                            <span *ngIf="prize.third!=null">{{prize.third[0].name}}</span>
                        </div>
                    </div>
                    <div class="subtitle player-sub animated fadeIn delay-3s">Goleadores</div>
                    <div class="players-container f-row jc-evenly animated fadeIn delay-3s">
                        <div class="player f-colum ai-center jc-center">
                            <img src="../../../assets/images/player.svg" alt="Player icon">
                            <span class="name" *ngIf="prize.first!=null">{{prize.firstShooter[0][0].name}}</span>
                            <span *ngIf="prize.first!=null">Goles: {{prize.firstShooter[0][1]}}</span>
                        </div>
                        <div class="player f-colum ai-center jc-center">
                            <img src="../../../assets/images/player.svg" alt="Player icon">
                            <span class="name" *ngIf="prize.first!=null">{{prize.secondShooter[0][0].name}}</span>
                            <span *ngIf="prize.first!=null">Goles: {{prize.secondShooter[0][1]}}</span>
                        </div>
                        <div class="player f-colum ai-center jc-center">
                            <img src="../../../assets/images/player.svg" alt="Player icon">
                            <span class="name" *ngIf="prize.first!=null">{{prize.thirdShooter[0][0].name}}</span>
                            <span *ngIf="prize.first!=null">Goles: {{prize.thirdShooter[0][1]}}</span>
                        </div>
                    </div>
                    <div class="player-sub wall-sub animated fadeIn delay-4s"><span class="subtitle">Muro de la verguenza</span></div>
                    <div class="first f-colum jc-center ai-center animated fadeIn delay-4s ax">
                        <img src="../../../assets/images/goldAx.svg" alt="">
                        <span *ngIf="prize.goldAx!=null"> {{prize.goldAx[0][0].name}} {{prize.goldAx[0][0].lastName}} </span>
                    </div>
                    <div class="position-container axes f-row jc-evenly animated fadeIn delay-4s">
                        <div class="second f-colum jc-center ai-center animated fadeIn delay-2s">
                            <img src="../../../assets/images/ax.svg" alt="">
                            <span *ngIf="prize.plateAx!=null"> {{prize.plateAx[0][0].name}} {{prize.plateAx[0][0].lastName}} </span>
                        </div>
                        <div class="third f-colum jc-center ai-center animated fadeIn delay-2s">
                            <img src="../../../assets/images/ax2.svg" alt="">
                            <span *ngIf="prize.bronzeAx!=null"> {{prize.bronzeAx[0][0].name}} {{prize.bronzeAx[0][0].lastName}} </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <button class="add-btn principal-add-btn" (click)="showHiddenButtons()"> + </button>
    <button class="add-btn s-btn hidden flag" (click)="addTeam()" data-tip='Agregar Equipo'> <i class="fas fa-users"></i></button>
    <button class="add-btn f-btn hidden flag" (click)="addChampionship()" data-tip='Agregar Campeonato'> <i class="fas fa-trophy"></i></button>
    <div id="hide-cont" class="hide-container hidden">
        <div class="subtitle"> {{team.name}} </div>
        <hr>
        <div class="players-container">
            <ul>
                <li *ngFor="let player of team.players, index as i">
                    {{i+1}}.- {{player.name}} {{player.lastName}} - CI: {{player.id}}
                </li>
            </ul>
        </div>
        <i class="fas fa-times exit" (click)="hideInfo()"></i>
    </div>
    <div id="hide-cont-match" class="hide-container hidden">
        <div class="subtitle"> Partido </div>
        <hr>
        <div class="players-container">
            <div class="result-container f-colum ai-center jc-center">
                <div class="result">
                    Resultado
                </div>
                <div class="teams" *ngIf="this.match != null">
                    {{match.team1.name}} ({{match.score1}}) - ({{match.score2}}) {{match.team2.name}}
                </div>
            </div>
            <div class="info f-colum jc-start">
                <div class="sub">Datos</div>
                <div class="table-container">
                    <table class="table" *ngIf="this.match != null">
                        <tr id="headers">
                            <th>Jugador</th>
                            <th><i class="far fa-futbol"></i></th>
                            <th><i class="fas fa-user-plus"></i></th>
                            <th><i class="fas fa-square" style="color: yellow;"></i></th>
                            <th><i class="fas fa-square" style="color: red;"></i></th>
                        </tr>
                        <tr *ngFor="let info of match.information">
                            <td>{{info.player.name}}</td>
                            <td class="center">{{info.goals}}</td>
                            <td class="center">{{info.assists}}</td>
                            <td class="center">{{info.yellowCard}}</td>
                            <td class="center">{{info.redCard}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <i class="fas fa-times exit" (click)="hideInfoMatch()"></i>
    </div>
</div>
<app-form-modal #alert></app-form-modal>
<app-team-form #teamform></app-team-form>
<app-player-form #playerform></app-player-form>
<app-match-form #matchform></app-match-form>