@import "../../../assets/color.scss";
.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $primaryColor;
    .logo {
        width: auto;
        height: 90%;
        cursor: pointer;
        outline: none;
        img {
            height: 100%;
        }
    }
    .logo:hover {
        height: 95%;
    }
    ul {
        width: 80%;
        height: auto;
        li {
            color: white;
            cursor: pointer;
            font-weight: bold;
            border-radius: 1%;
        }
        li:hover {
            animation: up .2s;
            border-bottom: 1px solid $backgroundColor;
            transform: translate3d(0, -5px, 0);
        }
    }
}

@keyframes up {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -5px, 0);
    }
}