@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto:300&display=swap');
@import "./assets/color.scss";
@import "./assets/button.scss";
.text {
    font-family: 'Roboto', sans-serif;
    color: $textColor;
    font-size: 12pt;
    line-height: 130%;
}

.smallText {
    font-family: 'Roboto', sans-serif;
    color: $textColor;
    font-size: 8pt;
    line-height: 130%;
}

.title {
    font-family: 'Noto Serif', serif;
    color: black;
    font-size: 25pt;
}

.subtitle {
    font-family: 'Noto Serif', serif;
    color: black;
    font-size: 18.75pt;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    ul {
        list-style: none;
    }
}

.f-row {
    display: flex;
    flex-direction: row;
}

.f-colum {
    display: flex;
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.jc-start {
    justify-content: flex-start;
}

.jc-end {
    justify-content: flex-end;
}

.jc-evenly {
    justify-content: space-evenly;
}

.ai-center {
    align-items: center;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

hr {
    text-align: center;
    margin: 0% 5% 2% 5%;
    border: 0;
    height: 0.063em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $primaryColor, rgba(0, 0, 0, 0));
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: $greyColor;
}

body::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:active {
    background-color: #b1b1b1;
}

[data-tip] {
    position: relative;
    font-size: 10pt;
}

[data-tip]:before {
    content: '';
    display: none;
    border-left: 10px solid rgb(31, 31, 31);
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    position: absolute;
    top: 35%;
    left: -15%;
    animation: appear 1s;
}

[data-tip]:after {
    width: 200px;
    display: none;
    content: attr(data-tip);
    position: absolute;
    top: 20%;
    right: 115%;
    padding: 15px 5px;
    background: rgb(31, 31, 31);
    color: $backgroundColor;
    z-index: 999;
    height: auto;
    border-radius: 10px;
    white-space: pre-wrap;
    word-wrap: normal;
    animation: appear 1s;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
    display: block;
}